@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: gray;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap; /* allows cards to wrap to new lines */
  gap: 1rem; /* spacing between cards */
}

/* Card */
li {
  color: #a3a3a3;
  background: linear-gradient(45deg, #4f4f4f, transparent);
  border: 1px solid #808080;
  border-radius: 8px;
  width: 30%;
  padding: 1rem;
  box-shadow: 0 2px 5px #0000001a;
}

li strong {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #333;
}

.site-container {
  width: 100%;
  margin: 0 auto;
  background-color: gray;
}

.search-container {
  /*background-color: #ff4500;*/
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background: linear-gradient(45deg, #25435f, transparent);
}

.search {
  margin: 0 auto;
  max-width: 900px;
  padding: 1rem;
}

.content-container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.content {
  margin: 0 auto;
  max-width: 900px;
  padding: 1rem;
}

.nav-container {
  width: 100%;
  margin: 0 auto;
  background-color: #000;
}

.nav-content {
  margin: 0 auto;
  max-width: 900px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.6s ease-in-out;
}