@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: #f2f2f2;
  background-image: url(../bg.jpg);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

*,
:after,
:before,
::backdrop {
  box-sizing: unset;
}

ul {
  list-style: none;
  padding: 0;
}

/* Card */
li {
  border: 1px solid #c9c9c9;
  padding: 1rem;
}

li strong {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #333;
}

.site-container {
  width: 100%;
  margin: 0 auto;
}

.menu {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #1da876;
  padding-top: 3rem;
  background: url(/navbg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.location {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #333;
  padding-top: 1rem;
  font-family: "Major Mono Display";
  text-transform: lowercase;
}

.search {
  margin: 0 auto;
  width: 60%;
  align-content: end;
}

.search select {
  background: #1da876;
  color: #fff;
}

.content-container {
  width: 100%;
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  max-width: 900px;
}

.nav-content {
  margin: 0 auto;
  width: 40%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.div1 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  text-align: -webkit-right;
  text-box: auto;
  place-content: end;
  font-size: 8rem;
  position: relative;
}

.div2 {
  grid-column: span 4 / span 4;
  grid-column-start: 4;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
  place-content: space-evenly;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.div3 {
  grid-column: span 4 / span 4;
  grid-column-start: 4;
  grid-row-start: 2;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
  place-content: space-evenly;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.div4 {
  grid-column: span 4 / span 4;
  grid-column-start: 4;
  grid-row-start: 3;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
  place-content: space-evenly;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.weekly-cards {
  border: 2px solid #333;
  border-top: 0px;
  gap: 0rem;
}

.weekly-cards h3 {
  font-family: "Major Mono Display", monospaces;
  text-transform: lowercase;
  font-size: 1.2rem;
  border: 0px;
}

.flex-item {
  color: gray;
  flex: 1;
}

.flex-item ul {
  gap: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.flex-item li {
  border-radius: 0px;
  max-width: 94px;
}

.more-info {
  width: 100%;
  text-align: right;
  padding-top: 1rem;
}

.more-info span {
  background-color: #333;
  padding: 0.7rem 1rem;
  color: #fff;
  cursor: pointer;
  font-family: "Major Mono Display", monospace;
  text-transform: lowercase;
  margin-left: 0.6rem;
}

input {
  color: gray;
  border: 2px solid;
}

.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

.archivo-header {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-variation-settings: "wdth" 100;
  color: #333;
}

.archivo-header span {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings: "wdth" 100;
  font-size: 4rem;
}

.weathericon {
  position: absolute;
  left: 2rem;
  font-size: 10rem;
  top: 2rem;
  z-index: -1;
  color: #00dfd1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes lineFadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.stagger-item-left {
  opacity: 0;
  animation-name: lineFadeInLeft;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  /* delay = index * 0.08s (the index comes from the inline style) */
  animation-delay: calc(var(--stagger-index, 0) * 0.08s);
}

@keyframes lineFadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.stagger-item-right {
  opacity: 0;
  animation-name: lineFadeInRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  /* delay = index * 0.08s (the index comes from the inline style) */
  animation-delay: calc(var(--stagger-index, 0) * 0.08s);
}

@font-face {
  font-family: "MeteoconsRegular";
  src: url("/fonts/meteocons-webfont.woff") format("woff"),
    url("/fonts/meteocons-webfont.ttf") format("truetype"),
    url("/fonts/meteocons-webfont.svg#MeteoconsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  font-family: "MeteoconsRegular";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

@media screen and (max-width: 740px) {
  .archivo-header {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-variation-settings: "wdth" 100;
    font-size: 4rem;
  }

  .archivo-header span {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-variation-settings: "wdth" 100;
    font-size: 1rem;
  }

  .weathericon {
    z-index: -1;
    color: #00dfd1;
    font-size: 6rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  .div2 {
    font-size: 1rem;
  }
  .div3 {
    font-size: 1rem;
  }
  .div4 {
    font-size: 1rem;
  }
}
