@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* allows cards to wrap to new lines */
  gap: 1rem; /* spacing between cards */
}

/* Card */
li {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  width: 200px; /* fixed width for cards */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #000;
}

li strong {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}
